<div class="cohort-definition">

    <div class="save-button-box">
        <span style="display: flex; align-items: center;">
            <span id="save-box">
                <input [(ngModel)]="cohortName" pInputText (keydown)="saveIfEnter($event)" placeholder="Cohort name"
                    (drop)="preventDefault($event)" />
                <span>&nbsp;</span>
                <button title="save the cohort of patients from the latest query"
                    class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn {{lastSuccessfulSet ?  '' : 'gb-explore-waiting-cohort'}}"
                    type="button" [disabled]="!lastSuccessfulSet" (click)="save()">

                    <span>Save</span>

                </button>
            </span>
        </span>
    </div>

    <div class="container">
        <b>Analytes</b>
        <div>
            <span *ngIf="analytesPaths.length == 0">None</span>
            <div class="analytesPaths">
                <div *ngFor="let analytePath of analytesPaths">
                    <gb-path-displayer [pathElements]="analytePath"></gb-path-displayer>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <b>Constraints</b>
        <div>
            <span *ngIf="noRootConstraint">None</span>
            <ng-template #rootConstraintTemplate></ng-template>
        </div>
    </div>


</div>