.nav-btn:hover {
  background-color: lightgray;
}

.nav-active {
  font-weight: bolder;
}

.gb-data-selection-accordion-header {
}

.gb-data-selection-accordion-sub-header-1 {
  font-size: large;
  color: gray;
  margin: 0em;
}

.gb-data-selection-accordion-sub-header-2 {
  background-color: var(--gb-ti-main-color-light);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 6px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  overflow: hidden;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gb-data-selection-accordion-sub-header-2 #save-box{
  display: flex;
  padding-left: 1em;
}
.gb-data-selection-accordion-sub-header-2 .gb-cohort-input{
  margin-right: 0.1em;
}

.gb-data-selection-accordion-sub-header-3 {
  color: GrayText;
  margin: 0em;
}

.gb-data-selection-emphasis-text {
  color: #595959;
  font-weight: bold;
}

.gb-data-selection-text {
  color: #595959;
}

.gb-data-selection-update-btn {
  margin-left: 1em;
  border: 1px dashed;
}

.gb-explore-query-btn-dirty {
  border: 2px solid;
  font-weight: bolder;
}

.gb-explore-waiting-cohort{
  border : 1px dashed;
}

.gb-cohort-input {
  border: 1px #595959 solid;
  border-radius: 3px;
}

.fa-circle-o-notch {
  opacity: .5;
}
