<div>



  <div class="gb-data-selection-accordion-header">
    <div>
      <span *ngIf="queryType; else noAuthorization" style="margin-left: 8px;" class="gb-data-selection-text">
        Allowed result type: <b>{{queryType.name}}</b>
      </span>
    </div>
    <div class="gb-data-selection-accordion-sub-header-2">
      <span style="display: flex; align-items: center;">
        <span class="gb-data-selection-accordion-sub-header-3 float-left">
          <span class="gb-data-selection-emphasis-text">{{globalCount | async}} subjects</span>
        </span>
        <span id="save-box" *ngIf="!isBiorefMode && isGlobalCountOrPatientList">
          <input class="gb-cohort-input" [(ngModel)]="cohortName" pInputText (keydown)="saveIfEnter($event)" placeholder="Cohort name" (drop)="preventDefault($event)"/>
          <button
            class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn {{lastSuccessfulSet ?  '' : 'gb-explore-waiting-cohort'}}"
            type="button" [disabled]="!lastSuccessfulSet" (click)="save()">
            <span>Save</span>
          </button>
        </span>
      </span>
        <span style="display: flex; align-items: center; margin-left: 2em;">

          <!-- display of explore query type -->
          <ng-template #noAuthorization>
            <span class="float-right">No authorization for explore query.</span>
          </ng-template>

          <span>
            <!-- disabled button during query -->
            <button *ngIf="!isUpdating && ((isBiorefMode && hasAnalytes) || hasConstraint); else disabledButton" type="button" (click)="execQuery($event)"
              class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
              {{isDirty? 'gb-explore-query-btn-dirty' : ''}}">
              Run
            </button>
            <ng-template #disabledButton>
              <button type="button" disabled class="btn btn-outline-primary btn-sm gb-data-selection-update-btn">
                Run
              </button>
            </ng-template>

            <i *ngIf="isUpdating" class="fa fa-circle-o-notch fa-spin"
              style="padding-left: .5em; padding-right: .5em;"></i>
          </span>
          <gb-generic-tooltip *ngIf="isBiorefMode" [infos]="'To estimate personalized reference intervals, only three easy steps are required:

          1) Drag & drop the laboratory analyte(s) of interest from the ontology sidebar into the box in the Analytes field

          2) Optionally, select the cohort definitions (like AdministrativeSex, Age or Predetermined conditions) in the preloaded fields or construct them from the ontology as needed

          3) Start the analysis by pressing the “Run” button.'"></gb-generic-tooltip>
        </span>
      </div>
  </div>
  <div style="margin-top: 1em;">
    <div *ngIf="isBiorefMode" class="title-label">
      Cohort definition:
    </div>
    <gb-selection [operationType]="OperationType.EXPLORE"></gb-selection>
  </div>
  <div *ngIf="isBiorefMode" #analytesDropzones class="input-label-wrapper small-font analytes-explore-container">
    <div title="Variable to analyze" class="title-label">
        Analytes:
    </div>
    <gb-analytes-dropzones></gb-analytes-dropzones>
  </div>



</div>
