<div>



  <div class="gb-data-selection-accordion-header">
    <div class="gb-data-selection-accordion-sub-header-1">
      Define your MedCo Explore query
    </div>
    <div class="gb-data-selection-accordion-sub-header-2">
      <div style="display: flex;">
        <span style="display: flex; align-items: center;" *ngIf="!userHasExploreStatsRole()">
          <span class="gb-data-selection-accordion-sub-header-3 float-left">
            <span class="gb-data-selection-emphasis-text">{{globalCount | async}} subjects</span>
          </span>
          <span id="save-box"  style="margin-left: 2em;">
            <input [(ngModel)]="cohortName" pInputText (keydown)="saveIfEnter($event)" placeholder="Cohort name"
              (drop)="preventDefault($event)" />
            <span>&nbsp;</span>
            <button
              class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn {{lastSuccessfulSet ?  '' : 'gb-explore-waiting-cohort'}}"
              type="button" [disabled]="!lastSuccessfulSet" (click)="save()">

              <span>Save</span>

            </button>
          </span>
        </span>
        <span style="display: flex; align-items: center; margin-left: 2em;">

          <!-- display of explore query type -->
          <span *ngIf="queryType; else noAuthorization" class="float-right gb-data-selection-text">
            Allowed Result Type: <b>{{queryType.name}}</b>
          </span>
          <ng-template #noAuthorization>
            <span class="float-right">No authorization for explore query.</span>
          </ng-template>

          <span>
            <!-- disabled button during query -->
            <button *ngIf="!isUpdating && hasConstraint; else disabledButton" type="button" (click)="execQuery($event)"
              class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
              {{isDirty? 'gb-explore-query-btn-dirty' : ''}}">
              Run
            </button>
            <ng-template #disabledButton>
              <button type="button" disabled class="btn btn-outline-primary btn-sm gb-data-selection-update-btn">
                Run
              </button>
            </ng-template>

            <i *ngIf="isUpdating" class="fa fa-circle-o-notch fa-spin"
              style="padding-left: .5em; padding-right: .5em;"></i>
          </span>
          <gb-generic-tooltip *ngIf="userHasExploreStatsRole()" [infos]="'To estimate personalized reference intervals, only three easy steps are required:

          1) Drag & drop the laboratory analyte(s) of interest from the ontology sidebar into the box in the Analytes field

          2) Select the cohort definitions (like AdministrativeSex, Age or Predetermined conditions) in the preloaded fields or construct them from the ontology as needed

          3) Start the analysis by pressing the “Run”-button.'"></gb-generic-tooltip>
        </span>
      </div>

    </div>
  </div>

  <div *ngIf="userHasExploreStatsRole()" #analytesDropzones class="input-label-wrapper small-font analytes-explore-container">
    <div>
      <label class="title-label">
        Analytes:
      </label>
    </div>
    <gb-analytes-dropzones></gb-analytes-dropzones>
  </div>

  <div style="margin-top: 1em;">
    <div class="title-label">
      Cohort definition:
    </div>
    <gb-selection [operationType]="OperationType.EXPLORE"></gb-selection>
  </div>




</div>