<div #parentContainer class="gb-container">
  <div class="gb-container">
    <!-- Top panel -->
    <div class="gb-top-panel">
      <span class="float-left">
        <img style="margin-right: 5px" width="20px" height="20px" src="assets/icons/ti-white-favicon-32x32.png" />
        <b>TI4Health Web Client</b>
      </span>
      <span class="float-right">
        Logged in as <i>{{authenticationService.username}}</i>.
        <button type="button" id="logout" class="btn btn-outline-secondary"
                (click)="authenticationService.logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <!-- Left panel -->
    <div #leftPanel class="gb-left-panel">
      <gb-side-panel></gb-side-panel>
    </div>

    <!-- Middle split bar -->
    <div #gutter class="gutter"></div>

    <!-- Right panel -->
    <div #rightPanel class="gb-right-panel">
      <gb-nav-bar></gb-nav-bar>
      <div class="gb-router-outlet-container">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- Bottom panel -->
    <div class="gb-bottom-panel">
      <span>{{footerText}}</span>

      <p-button *ngIf="isBiorefMode" (click)="showBasicDialog()" icon="pi pi-external-link" label="copyright notice"></p-button>
      <p-dialog *ngIf="isBiorefMode" header="Copyright notice" [(visible)]="displayBasic" [style]="{width: '50vw'}">
        <p>
          LOINC: This material contains content from LOINC (<a href="http://loinc.org/">http://loinc.org/</a>). LOINC is copyright © 1995-2022,
          Regenstrief Institute, Inc. and the Logical Observation Identifiers Names and Codes (LOINC) Committee and is
          available at no cost under the license at <a href="http://loinc.org/license">http://loinc.org/license</a>. LOINC® is a registered United States
          trademark of Regenstrief Institute, Inc.
        </p>

        <p>
          GMDN: GMDN ® is a registered trademark of The GMDN Agency. All rights reserved. The copyright and database
          rights in the original GMDN materials are owned by The GMDN Agency Ltd 2005-2022. Used under licence from The
          GMDN Agency Ltd.
        </p>
        <p>
          GUDI: Global Unique Device Identification codes from the Global Unique Device Identification Database (GUDID)
          have been retrieved at the AccessGUDID-portal and are a courtesy of the the U.S. National Library of Medicine
          in collaboration with the U.S. Food and Drug Administration.
        </p>
        <p>
          ICD-10-GM: © 2022 German Federal Institute for Drugs and Medical Devices (Bundesinstitut für Arzneimittel und
          Medizinprodukte BfArM) on behalf of the German Federal Ministry of Health (Bundesministerium für Gesundheit
          BMG) with the participation of the ICD Working Group of the Board of Trustees for Questions of Classification
          in Health Care (KKG)"
        </p>
        <ng-template pTemplate="footer">
          <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text p-button-sm"></p-button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
</div>
