<div #parentContainer class="gb-container" [ngStyle]="{'filter': needToChooseRoles ? 'blur(8px)' : 'unset'}">
  <div class="gb-container">
    <!-- Top panel -->
    <div class="gb-top-panel">
      <span class="float-left">
        <img title="Tune Insight" style="margin-right: 5px" width="20px" height="20px" src="assets/icons/ti-white-favicon-32x32.png" />
        <b>TI4Health Web Client</b>
      </span>
      <span class="float-right">
        Logged in as <i>{{authenticationService.username}}</i>.
        <button type="button" id="logout" title="Logout" class="btn btn-outline-secondary"
                (click)="authenticationService.logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <!-- Left panel -->
    <div #leftPanel class="gb-left-panel">
      <gb-side-panel></gb-side-panel>
    </div>

    <!-- Middle split bar -->
    <div #gutter class="gutter"></div>

    <!-- Right panel -->
    <div #rightPanel class="gb-right-panel">
      <gb-nav-bar></gb-nav-bar>
      <div class="gb-router-outlet-container">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- Bottom panel -->
    <div class="gb-bottom-panel">
      <span>{{footerText}}</span>

      <p-button *ngIf="isBiorefMode" (click)="showBasicDialog()" icon="pi pi-external-link" label="Copyright notice"></p-button>
      <p-dialog *ngIf="isBiorefMode" header="Copyright notice" [(visible)]="displayBasic" [style]="{width: '50vw'}">
        <p>
          <b>GMDN</b>: GMDN ® is a registered trademark of The <a target="_blank" rel="noopener noreferrer"
            href="https://www.gmdnagency.org/">GMDN Agency</a>. All rights reserved. The copyright and database
          rights in the original GMDN materials are owned by The GMDN Agency Ltd 2005-2022. Used under licence from The
          GMDN Agency Ltd.
        </p>
        <br>
        <p>
          <b>GUDI</b>: Global Unique Device Identification codes from the Global Unique Device Identification Database (GUDID)
          have been retrieved at the <a target="_blank" rel="noopener noreferrer"
            href="https://accessgudid.nlm.nih.gov/">AccessGUDID-portal</a> and are a courtesy of the the <a target="_blank"
            rel="noopener noreferrer" href="https://www.nlm.nih.gov/">National Library of Medicine</a>
          in collaboration with the <a target="_blank" rel="noopener noreferrer" href="https://www.fda.gov/">U.S. Food and Drug
            Administration</a>.
        </p>
        <br>
        <p>
          <b>ICD-10-GM</b>: © 2022 German Federal Institute for Drugs and Medical Devices (Bundesinstitut für Arzneimittel und
          Medizinprodukte <a target="_blank" rel="noopener noreferrer" href="https://www.bfarm.de/EN/Home/_node.html">BfArM</a>)
          on behalf of the German Federal Ministry of Health (Bundesministerium für Gesundheit
          <a target="_blank" rel="noopener noreferrer" href="https://www.bundesgesundheitsministerium.de/">BMG</a>) with the
          participation of the ICD Working Group of the Board of Trustees for Questions of Classification
          in Health Care (<a target="_blank" rel="noopener noreferrer"
            href="https://www.bfarm.de/DE/Kodiersysteme/Kooperationen-und-Projekte/KKG/_node.html">KKG</a>)"
        </p>
        <br>
        <p>
          <b>LOINC</b>: LOINC is copyright © 1995-2022,
          <a target="_blank" rel="noopener noreferrer" href="https://www.regenstrief.org/">Regenstrief Institute, Inc.</a> and
          the Logical Observation Identifiers Names and Codes (<a target="_blank" rel="noopener noreferrer"
            href="https://loinc.org/">LOINC</a>) Committee and is
          available at no cost under the license at <a target="_blank" rel="noopener noreferrer"
            href="https://loinc.org/license">https://loinc.org/license</a>. LOINC® is a registered United States
          trademark of <a target="_blank" rel="noopener noreferrer" href="https://www.regenstrief.org/">Regenstrief Institute,
            Inc</a>.
        </p>
        <br>
        <p>
          <b>SNOMED CT</b>: SNOMED CT is copyright © SNOMED International 2021 v3.15.1., <a target="_blank"
            rel="noopener noreferrer" href="https://www.snomed.org/">SNOMED CT international</a>. See <a target="_blank"
            rel="noopener noreferrer" href="https://mlds.ihtsdotools.org/#/landing/CH">license details</a>.
        </p>
        <br>
        <p>
          <b>UCUM</b>: The Unified Code for Units of Measure (<a target="_blank" rel="noopener noreferrer"
            href="https://ucum.nlm.nih.gov/">UCUM</a>), also known as the “UCUM Specification,” is copyright ©1999-2021, <a
            target="_blank" rel="noopener noreferrer" href="https://www.regenstrief.org/">Regenstrief Institute, Inc.</a>, Inc.
          and The UCUM Organization, Indianapolis, IN. All rights reserved. See <a target="_blank" rel="noopener noreferrer"
            href="https://ucum.org/trac/wiki/license">license details</a>.
        </p>
      </p-dialog>
        <a href="https://docs.tuneinsight.com" _target="blank" ><p-button icon="pi pi-external-link" label="Documentation"></p-button></a>
    </div>
  </div>
</div>

<div *ngIf="needToChooseRoles">
  <p-dialog header="Choose TI4Health mode" class="select-mode-dialog" [(visible)]="needToChooseRoles" [style]="{'max-width': '50vw'}">
    <p>
      You have 2 roles. Choose the interface you want to use.
    </p>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
      <p-dropdown
          [style]="{'min-width':'25em'}"
          dropdownIcon="pi pi-caret-down white-color"
          [(ngModel)]="actualMode" [options]="modes"
          (onChange)="onHandleModeDropdownChange($event)"></p-dropdown>

      <p-button icon="pi pi-check" (click)="onSelectActualMode()" label="Ok" styleClass="p-button-text p-button-sm"></p-button>
    </div>
  </p-dialog>
</div>