.btn-outline-secondary {
  color: #333333;
}
.btn-outline-secondary:hover {
  background-color: var(--gb-ti-main-color-light-light);
  color: black;
}

.btn-outline-secondary:active {
  background-color: var(--gb-ti-main-color);
  color: black;
}

.gray-text {
  color: darkgray;
}
