<div>
  <!-- <h6>Project: {{projectName}}</h6> -->
  <h6>Connected participants <span><button pButton class="ui-button-secondary no-background" [disabled]="isRefreshingNodes"
      [ngStyle]="{'color': isRefreshingNodes ? 'var(--gb-light-light-clinical-green)':'var(--gb-ti-main-color)'}"
      type="button" pTooltip="Refresh participants" tooltipPosition="top" (click)="refreshNodes()" icon="fa fa-refresh">
    </button>
  </span></h6>
  <ul>
    <li *ngFor="let node of getNodes; let nodeIdx = index" [pTooltip]="getTooltipMessage(node.name)" class="participant-node" [ngClass]="{'node_is_up': isNodeUp(node.name), 'not-in-project': !isNodeInProject(node.name)}">
      {{node.name}}
      <span *ngIf="node.current"> (you)</span>
      <span *ngIf="isNodeInProject(node.name) && hasPerSiteCounts && queryResults|async">: {{(queryResults|async).perSiteCounts[nodeIdx]}} subjects</span>
    </li>
  </ul>
  <div *ngIf="!config.getConfig('isBiorefMode')">
    <h6>Latest explore query</h6>
    <p>Total: {{globalCount | async}} subjects</p>
  </div>
</div>
