.participant-node {
    color: lightgrey;
    margin-top: 4px;
    width: fit-content;
}

.node_is_up {
    color: black;
}

.ui-button-secondary.no-background {
    background-color: transparent !important;
    box-shadow: none !important;
}

.gb-participants-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gb-participants-list {
    min-width: fit-content;
    margin-right: 5px;
}
