<p-dropdown dropdownIcon="pi pi-caret-down white-color" [(ngModel)]="whichDateFirst" [options]="whichDate"></p-dropdown>
<p-dropdown dropdownIcon="pi pi-caret-down white-color" [(ngModel)]="whichObservationFirst"
    [options]="whichObservation"></p-dropdown>
<p-dropdown dropdownIcon="pi pi-caret-down white-color" [(ngModel)]="sequentialOperator" [options]="when"></p-dropdown>
<p-dropdown dropdownIcon="pi pi-caret-down white-color" [(ngModel)]="whichDateSecond" [options]="whichDate">
</p-dropdown>
<p-dropdown dropdownIcon="pi pi-caret-down white-color" [(ngModel)]="whichObservationSecond"
    [options]="whichObservation"></p-dropdown>