<div>
    <div class="gb-data-selection-accordion-header">
        <div class="gb-data-selection-accordion-sub-header-1">
            Select your project<br />
        </div>
    </div>
    <br />
    
    <select (change)="onChangeProject($event.target.value)" name="projectId">
        <option disabled [selected]="selectedProjectIndex === -1" value> -- select an option -- </option>
        <option [value]="projectIdx" value="tata" *ngFor="let project of getProjectList(); let projectIdx = index">
            {{project.name}}
        </option>
    </select>
</div>